$dark_blue: #1c2634;
$gray: #e0e0e0;
$light_gray: #acafb0;
$light_m_gray: #6c7278;
$light_bg_gray: #edf1f3;

$main_color_dark: #d4733b;
$main_color: #ea7e41;
$main_light_color: #ea7e41;
$main_light_shadow: #ea7f4163;
$main_light_two: #fdefd9;

$main_color_dark_blue: #31928a;
$main_color_blue: #3ab4a9;
$main_light_color_blue: #46d8cc;
$main_light_shadow_blue: #3ab4aa7e;
$main_light_two_blue: #c3f5f1;

$link_blue: #0077ff;
$white: #ffffff;
$white_transparent: #ffffff46;
$black: #000000;
$black_light: #000000ae;
$low_black: #1a1c1e;
$available: #12b3a8;
$available_soon: #4d81e7;
$reserved: #c65468;
$warning: #AA3D5A;

$logo_color: #e88220;





$themes: (
  light: (
    dark_blue: $dark_blue,
    gray: $gray,
    light_gray: $light_gray,
    light_m_gray: $light_m_gray,
    light_bg_gray: $light_bg_gray,
    main_color_dark: $main_color_dark,
    main_color: $main_color,
    main_light_color: $main_light_color,
    main_light_shadow: $main_light_shadow,
    main_light_two: $main_light_two,
    link_blue: $link_blue,
    white: $white,
    white_transparent: $white_transparent,
    black: $black,
    black_light: $black_light,
    low_black: $low_black,
    available: $available,
    available_soon: $available_soon,
    reserved: $reserved,
    warning: $warning
  ),
  dark: (
    dark_blue: $dark_blue,
    gray: $white_transparent,
    light_gray: $light_m_gray,
    light_m_gray: $gray,
    light_bg_gray: $low_black,
    main_color_dark: $main_color_dark,
    main_color: $main_color_dark,
    main_light_color: $main_color_dark,
    main_light_shadow: rgba($main_color_dark, 0.4),
    main_light_two: $main_light_two,
    link_blue: lighten($link_blue, 20%),
    white: $low_black,
    white_transparent: rgba($low_black, 0.64),
    black: $white,
    black_light: $white_transparent,
    low_black: lighten($dark_blue, 10%),
    available: darken($available, 20%),
    available_soon: darken($available_soon, 20%),
    reserved: darken($reserved, 20%),
    warning: $warning
  ),
  customBlue: (
    dark_blue: $dark_blue,
    gray: $gray,
    light_gray: $light_gray,
    light_m_gray: $light_m_gray,
    light_bg_gray: $light_bg_gray,

    main_color_dark: $main_color_dark_blue,
    main_color: $main_color_blue,
    main_light_color: $main_light_color_blue,
    main_light_shadow: $main_light_shadow_blue,
    main_light_two: $main_light_two_blue,

    link_blue: $link_blue,
    white: $white,
    white_transparent: $white_transparent,
    black: $black,
    black_light: $black_light,
    low_black: $low_black,
    available: $available,
    available_soon: $available_soon,
    reserved: $reserved,
    warning: $warning
  )
);

