@import '../../../common/reUseable/variable';
@import '../../../common/reUseable/extend';
@import '../../../common/reUseable/mixin';
@import '../../../common/reUseable/theme';


.chartComp {
    width: 100%;

    &_up {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            row-gap: 5px;
            flex-direction: column;
        }

        &_head {
            @extend %ml_b;
            @include themed {
                color: t(black);
            }
        }

        &_actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 15px;

            &_year {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 4px 6px;
                border-radius: 6px;
                user-select: none;
                cursor: pointer;

                @include themed {
                    background-color: t(light_bg_gray);
                    border: 1px solid t(gray);
                }

                &:hover .chartComp_up_actions_year_down {
                    display: block;
                }
                &:hover .chartComp_up_actions_year_selected {
                    @include themed {
                        background-color: t(white);
                        color: t(main_color);
                    }
                }

                &_selected {
                    padding: 2px 15px;
                    border-radius: 6px;
                    background-color: transparent;
                    @extend %sm;

                    @include themed {
                        background-color: $white;
                        color: black;
                    }

                    &:hover {
                        @include themed {
                            color: t(main_color);
                        }
                    }
                }

                &_down {
                    width: calc(100% + 2px);
                    position: absolute;
                    padding: 6px 3px;
                    top: 31px;
                    left: -1px;
                    display: none;
                    text-align: center;
                    border-radius: 0 0 6px 6px;
                    color: $light_m_gray;

                    @include themed {
                        background-color: t(light_bg_gray);
                        border: 1px solid t(gray);
                        border-top: none;
                    }


                    &_option {
                        width: 100%;
                        @extend %sm;


                        &:hover {

                            @include themed {
                                background-color: t(white);
                            }
                        }
                    }
                }
            }

            &_period {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 4px 6px;
                border-radius: 6px;
                column-gap: 10px;

                @include themed {
                    background-color: t(light_bg_gray);
                    border: 1px solid t(gray);
                }

                &_option {
                    padding: 5px 12px;
                    border-radius: 5px;
                    background-color: transparent;
                    user-select: none;
                    cursor: pointer;
                    @extend %s_b;
                    @include themed {
                        color: t(light_m_gray);
                    }

                    &:hover {
                        @include themed {
                            background-color: t(white);
                            color: t(black);
                        }
                    }
                }
            }
        }
    }

}



