@import "../../../../common/reUseable/variable";
@import "../../../../common/reUseable/mixin";
@import "../../../../common/reUseable/extend";
@import "../../../../common/reUseable/theme";


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


.parent {
    width: 100%;
    height: 100%;
    padding: 24px;
    border-radius: 10px;
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include desktop {
        position: relative;
    }
    @include themed() {
        background-color: t(white);
        border: 1px solid t(gray);
    }

    @include mobile {
        margin-bottom: 70px;
    }

    &_buttons {
        position: absolute;
        top: -73px;
        right: 0;
        display: flex;
        align-items: center;
        column-gap: 12px;
        animation: fadeIn .3s;

        @include mobile {
            width: 100%;
            position: fixed;
            justify-content: center;
            bottom: 0;
            top: auto;
            right: auto;
            left: 0;
            z-index: 999;
            padding: 2%;
            @include themed() {
                background-color: t(white);
                border-top: 1px solid t(gray);
            }
        }

        &_save {
            @extend %btn_main;
            min-width: 140px;
            border-radius: 10px;
        }

        &_cancel {
            @extend %btn_main_w;
            min-width: 140px;
            border-radius: 10px;
        }
    }

    &_up {
        width: 100%;
        &_head {
            @extend %ls_b;
            @include themed() {
                color: t(black);
            }
        }
        &_info {
            margin-top: 5px;
            @extend %sm;

            @include themed() {
                color: t(light_m_gray);
            }
        }
    }


    &_line {
        width: 100%;
        height: 1px;
        
        @include themed() {
            border-bottom: 1px solid t(gray);
        }
    }


    &_main {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;

        &_business {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 16px;


            &_head {
                @extend %m_b;
                @include themed() {
                    color: t(black);
                }
            }

            &_block {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                row-gap: 16px;

                &_descMobile {
                    @extend %sm;
                    @include themed() {
                        color: t(light_m_gray);
                    }
                    @include desktop {
                        display: none;
                    }
                }

                &_photo {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    column-gap: 20px;


                    &_icon {
                        padding: 12px;
                        border-radius: 50%;
                        @include themed() {
                            background-color: t(main_light_two);
                        }

                        &_image {
                            width: 56px;
                            height: 57px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    &_upload {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        row-gap: 12px;

                        &_label {
                            padding: 7px 24px;
                            cursor: pointer;
                            @extend %m;
                            border-radius: 10px;
                            @include themed() {
                                background-color: t(main_color);
                                color: t(white);
                            }
                            &:hover {
                                @include themed() {
                                    background-color: t(main_color_dark);
                                }
                            }
                        }

                        &_input {
                            display: none;
                        }

                        &_path {
                            @extend %ex_s;
                            @include themed() {
                                color: t(light_m_gray);
                            }
                        }

                        &_desc {
                            @extend %sm;
                            @include themed() {
                                color: t(light_m_gray);
                            }
                            @include mobile {
                                display: none;
                            }
                        }
                    }
                }

                &_form {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    background-color: transparent;

                    @include mobile {
                        grid-template-columns: 1fr;
                    }

                    
                
                        &_block {
                            position: relative;
                                            
                            input {
                                width: 100%;
                                padding: 7px 13px;
                                border: none;
                                border-radius: 10px;
                                outline: none;
                                background-color: transparent;
                                border: 1px solid $light_gray;
                                @extend %m;
                                z-index: 9;

                                @include themed() {
                                    border: 1px solid t(gray);
                                    color: t(black);
                                }
                            }
                            &:focus-within {
                                .label {
                                    @extend %label_focus;
                                }
                            }
                            .label_focus {
                                @extend %label_focus;
                            }
                
                            .label {
                                @extend %label_unset;
                                z-index: 1;
                                pointer-events: none;
                            }
                        }
                }
            }

        }

        &_adress {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            
            &_head {
                @extend %m_b;
                @include themed() {
                    color: t(black);
                }
            }

            &_container {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                background-color: transparent;

                @include mobile {
                    grid-template-columns: 1fr;
                }
                
                &_block {
                    position: relative;
                                    
                    input {
                        width: 100%;
                        padding: 7px 13px;
                        border: none;
                        border-radius: 10px;
                        outline: none;
                        background-color: transparent;
                        border: 1px solid $light_gray;
                        @extend %m;
                        z-index: 9;

                        @include themed() {
                            border: 1px solid t(gray);
                            color: t(black);
                        }
                    }
                    &:focus-within {
                        .label {
                            @extend %label_focus;
                        }
                    }
                    .label_focus {
                        @extend %label_focus;
                    }
        
                    .label {
                        @extend %label_unset;
                        z-index: 9;
                        pointer-events: none;
                    }
                }
            }
        }

        
    }
}