@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0) translate(500% , 100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translate(0 , 0);
    }
}

@keyframes fadeBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.success {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.151);
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(1px);
    animation: fadeBg 0.3s ease;
    z-index: 999999;


    @include mobile {
        padding: 3%;
    }

    &_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 20;
        animation: fadeIn 0.3s ease;
    }

    &_block {
        width: 100%;
        max-width: 430px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        border-radius: 14px;
        border: 1px solid $gray;
        padding: 26px;
        z-index: 30;
        animation: fadeIn 0.3s ease;


        &_head {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center ;
            row-gap: 10px;

            &_text {
                @extend %ml_b;
            }

            &_price {
                @extend %ls;
                color: $available;
            }
        }

        &_detail {
            width: 100%;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 12px;
            border-radius: 7px;
            border: 1px solid $gray;

            &_item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &_name {
                    @extend %sm;
                }
                &_value {
                    @extend %sm;
                }
            }
        }
        &_actions {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 15px;

            &_new {
                width: 100%;
                padding: 7px 0;
                @extend %m_b;
                background-color: $available;
                border-radius: 10px;
                background-color: $main_color;
                color: $white; 
                cursor: pointer;
                user-select: none;

                &:hover {
                    background-color: $main_color_dark;
                }
            }

            &_print {
                width: 100%;
                padding: 7px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 10px;
                border-radius: 10px;
                border: 1px solid $gray;
                cursor: pointer;
                user-select: none;

                &:hover {
                    border: 1px solid $light_gray;
                }

                &_name {
                    @extend %m_b;
                }
            }
        }


    }
}