@import '../../../../common/reUseable/variable';
@import '../../../../common/reUseable/extend';
@import '../../../../common/reUseable/mixin';
@import '../../../../common/reUseable/theme';

@keyframes load {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.login {
    width: 100%;
    height: 100vh;
    max-height: 1280px;
    margin: auto 0;
    min-height: 600px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $black;

    @include mobile {
        padding: 0 5%;
        grid-row: 1 / 1;
    }

    &_logo {
        animation: load 1s ease-in-out;
        margin-top: auto;
        img {
        width: 30px;
        height: 30px;
        }
    }

    &_previous {
        width: 100%;
        max-width: 416px;
        cursor: pointer;
        animation: load 1s ease-in-out;


        div {
            width: 50px;
        }
    }

    &_name {
        width: 100%;
        max-width: 416px;
        margin-top: 5px;
        @extend %l_b;
        animation: load 1s ease-in-out;
    }

    &_information {
        width: 100%;
        max-width: 416px;
        animation: load 1s ease-in-out;

    }

    &_form {
        width: 100%;
        max-width: 416px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        animation: load 1s ease-in-out;


        &_email {
            position: relative;

            input {
                width: 100%;
                padding: 7px 13px;
                
                border: none;
                border-radius: 10px;
                border-bottom: 1px solid $gray;
                outline: none;
                background-color: transparent;
                border: 1px solid $light_gray;
                @extend %m;
                z-index: 3;
            }
            &:focus-within {
                .label {
                    color: $main_color;
                    @extend %label_focus;
                }
            }
            .label_focus {
                @extend %label_focus;
            }

            .label {
                @extend %label_unset
            }
        }

        &_password {
            position: relative;

            input {
                width: 100%;
                padding: 7px 36px 7px 13px;
                border: none;
                border-radius: 10px;
                border-bottom: 1px solid $gray;
                outline: none;
                background-color: transparent;
                border: 1px solid $light_gray;
                @extend %m;
            }
            &:focus-within {
                .label {
                    color: $main_color;
                    @extend %label_focus;
                }
            }
            .label_focus {
                @extend %label_focus;
            }

            .label {
                @extend %label_unset
            }
            &_eye {
                position: absolute;
                right: 10px;
                top: 7px;
                padding: 5px;
                z-index: 999;
                cursor: pointer;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }


        &_actions {
            display: flex;
            justify-content: space-between;

            &_save {
                @extend %sm;
                color: $light_m_gray;
                display: flex;
                align-items: center;
                column-gap: 5px;
                input[type="checkbox"] {
                    accent-color: $main_color;
                }                  

                label {
                    user-select: none;
                    cursor: pointer;
                }
            }
            &_forgot {
                @extend %sm;
                color: $link_blue;
                cursor: pointer;
            }
        }
        &_submit {
            width: 100%;
            padding: 7px 13px;
            border-radius: 10px;
            border: 1px solid $light_gray;
            @extend %m;
            color: $white;
            cursor: pointer;
            background-color: $main_color;
            animation: load 1s ease-in-out;


            &:hover {
                transition: .2s ease-in-out;
                background-color: darken($main_color, 7%);
            }
        }
    }
    &_or {
        width: 100%;
        max-width: 416px;
        margin: auto 0 auto;
        text-align: center;
        border-bottom: 1px solid $gray;
        position: relative;
        animation: load 1s ease-in-out;

        // background-color: $dark_blue;
        span {
            display: inline;
            position: absolute;
            @extend %m;
            color: $light_m_gray;
            background-color: $white;
            padding: 0 15px;
            bottom: -11px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_google {
        width: 100%;
        max-width: 416px;
        padding: 7px 13px;
        border-radius: 10px;
        border: 1px solid $light_gray;
        @extend %sm;
        color: $black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        animation: load 1s ease-in-out;

        &:hover {
            transition: .2s ease-in-out;
            border: 1px solid $light_m_gray;
            box-shadow: 0 0 5px 0 inset $light_gray;
        }
    }
    &_registr {
        width: 100%;
        max-width: 416px;
        @extend %sm;
        color: $light_m_gray;
        margin-top: 24px;
        display: flex;
        justify-content: center;
        animation: load 1s ease-in-out;

        div {
            cursor: pointer;
            margin-left: 7px;
            color: $link_blue;
        }
    }
    &_footer {
        width: 100%;
        max-width: 500px;
        margin-top: auto;
        margin-bottom: 20px;
        @extend %sm;
        display: flex;
        justify-content: space-around;
        animation: load 1s ease-in-out;


        @include mobile {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }

        span {
            color: $light_m_gray;
        }
        a {
            color: $link_blue;
            padding: 0 9px;
            cursor: pointer;
        }
    }
}








// --------------------- autofill color ---------------------
input:-webkit-autofill{
    -webkit-text-fill-color: unset !important;
    box-shadow: inset 0 0 20px 50px #fff;
}
input::selection {
    color: $main_color;
    background: $white;
  }