@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";

.item {
    width: 100%;
    @extend %m;
    cursor: pointer;
    user-select: none;

    @include themed() {
        background-color: t($white);
      }


    &:hover {
        color: $main_color;
    }
}