@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";



.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    padding-block: 5px;
    border-bottom: 1px solid;
    cursor: pointer;
    user-select: none;

    @include themed() {
        border-color: t(gray);
    }

    &_head {
        @extend %sm_b;

        @include themed() {
            color: t(black);
        }
    }
    &_desc {
        @extend %sm, %text_overflow;
        @include themed() {
            color: t(black_light);
        }
    }
}