@import "../reUseable/extend";
@import "../reUseable/mixin";
@import "../reUseable/variable";
@import "../reUseable/theme";


.btn {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    position: fixed;
    bottom: 70px;
    right: 0;
    @extend %s;
    border-radius: 10px 0 0 0;
    

    @include themed() {
        background-color: t(white);
        color: t(main_color);
    }
}