@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeMobile {
    from {
        opacity: 0;
        transform: translateX(100%);
        display: none;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        display: block;
    }
}

@keyframes fadeMobileOut {
    from {
        opacity: 1;
        transform: translateX(0);
        display: block;
    }
    to {
        opacity: 0; 
        transform: translateX(100%);
        display: none;
    }
}

// scrollbar
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    @include themed() {
        background-color: t(white);
      }
}
::-webkit-scrollbar-thumb {
    background: $main_light_color;
    border-radius: 15px;
    height: 10px;
}
// scrollbar end

.mobileIn {
    @include mobile {
        animation: fadeMobile 0.3s ease !important;
        display: block;
    }
    @include desktop {
        display: block;
    }
}
.mobileOut {
    @include mobile {
        animation: fadeMobileOut 0.3s ease !important;
        display: none;
    }
    @include desktop {
        display: none;
    }
}



.notification {
    width: 100vw;
    height: 100vh;
    background-color: #00000008;
    position: fixed;
    top: 0;
    left: 0;
    animation: fadeBg 0.3s ease-in-out;
    z-index: 999;

    @include mobile {
        padding: 3% 2%;
    }


    &_screen {
        width: 100vw;
        height: 97vh;
        max-width: 1920px;
        margin: 0 auto; 
        position: relative;


        @include mobile {
            width: 100%;
        }

        &_bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            animation: fadeIn 0.3s ease;
            z-index: 9;
        }
    
        &_block {
            width: 100%;
            max-width: 480px;
            min-width: 280px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            border-radius: 14px;
            border: 1px solid;
            padding: 12px 18px;
            animation: fadeIn 0.3s ease;
            position: absolute;
            right: 0;
            top: 75px;
            z-index: 999999999;
            margin-inline: 2%;

            @include themed() {
                background-color: t(white);
                color: t(black);
                border-color: t(gray);
              }
    
    
    
            @include mobile {
                max-width: 100%;
                min-width: none;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 14px;
                margin-inline: 0;
            }

            &_back {
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: start;

                @include themed() {
                    background-color: t(white);
                  }

                @include desktop {
                    display: none;
                }

                svg {
                    width: 44px;
                    height: 41px;
                    padding: 8px 10px;
                    border: 1px solid;
                    border-radius: 7px;

                    @include themed() {
                        border-color: t(gray);
                      }

                    path {
                        @include themed() {
                            stroke: t(black);
                          }
                    }
                }
            }
    
            &_list {
                width: 100%;
                overflow-x: hidden;
                padding-right: 5px;
            }
    
        }
    }
}